body{
    background-color: rgb(184, 177, 165);
}
.boardContainer{
    display: flex;
    justify-content: center;
    padding: 8px;
}
.board{
    width: 500px;
    height: 500px;
    display: grid;
    border: 5px inset black;
    box-shadow: 4px 4px;
}

    #toolbarColors{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 600px;
    height: 90px;
}
.colorsContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.colorsContainer > button{
    margin: 6px;
    height: 30px;
}

    
    #toolbarBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    gap: 6px;
    width: 500px;
}

